<%
page.category = ' ';
%>

<div class="container archive-body">
    <div class="row">
        <div class="col-xs-3 well">
            <div class="category-title" >
                <h2 class="category-icon">分类</h2>
                <% site.categories.sort('name').each(function(item){ %>
                <a data-src="<%- config.root %><%- item.path %>" href="#<%= item.name %>" title="<%= item.name %>"><%= item.name %><sup><%= item.posts.length %></sup></a>
                <% }); %>
            </div>
        </div>
        
        <div class="all-list-box">
        </div>
    </div>
</div>
    
<script>
$(function() {
    var box = $('.all-list-box');
    var first = $('.category-title a:first-of-type');
    var list = $('.category-title a');
    
    box.load(first.attr('data-src').toString() + ' #category-list-body');
    first.addClass('currentTag');
    list.each(function() {
        $(this).click(function() {
            var listSrc = $(this).attr('data-src').toString() + ' #category-list-body';
            box.load(listSrc);
            list.removeClass('currentTag');
            $(this).addClass('currentTag');
        });
    });
});
</script>

